<p class="nancy">NANCY SMITH <img src="pictures/icon.jpeg" width="25"></p> <p class="logout">LOGOUT</p>

<form action="/page-one" method="POST">

    <h1>GIPT-HEALTH* </h1>
    <img src="pictures/logo.jpeg" width="100">
    
</form>

