<div class="container">
    <div class="row">
        <p class="nancy">NANCY SMITH <img src="pictures/icon.jpeg" width="25"></p>
        <p class="logout">LOGOUT</p>
        <h1>GIPT-HEALTH* </h1>
        <img src="pictures/logo.jpeg" width="100">
        <p>BOOK MEDICATION DELIVERY </p>
        <div>
           EMAIL ADDRESS:<input type="text" placeholder="">
        </div>
<Div>
    <button class="rep-order" name="REPEAT PRESCRIPTION ORDER" type="reset">REPEAT PRESCRIPTION ORDER</button>
</Div>
        <form action="/medication1" method="POST">
        <label for="ORDER MEDICATION">ORDER MEDICATION</label>
            <select name="SELECT MEDICATION" id="MEDICATION">
                <option value="ACARBOSE">ACARBOSE</option>
                <option value="ACCOLATE">ACCOLATE</option>
                <option value="AMLODIPINE">AMLODIPINE</option>
                <option value="AMOXICILLIN">AMOXICILLIN</option>
                <option value="FLEXERIL">FLEXERIL</option>
                <option value="TRAUMATOLOGY">TRAUMATOLOGY</option>
                <option value="PEDIATRIC">PEDIATRIC</option>
                <option value="DIAGNOSTICS">DIAGNOSTICS</option>
            </select>
            <div>
                Collection?
                <div>
                    <label>Collect</label>
                    <input type="radio">
                    <label>Delivery</label>
                    <input type="radio">
                </div>
                <div> 
                delivery? 
                <div>
                    <label>Select Date </label>
                    <input type="date">
                    <input type="datetime-local">
                </div>
                </div>
            </div>
            <button class="ORDER MEDICATION" name="MEDICATION" type="submit">ORDER MEDICATION</button>
        </form>
        <Div>
           *free delivery for purchases above R300 
        </Div>
        <div>
          Should we require more information, one of our friendly call centre agents will contact you.

        </div>
        <Div>
           <img class="calendar" src="pictures/calendar.jpeg" width="100"> 
        </Div>
    </div>

</div>