<div class="container">
    <div class="row">
        <p class="nancy">NANCY SMITH <img src="pictures/icon.jpeg" width="25"></p>
        <p class="logout">LOGOUT</p>
        <h1>GIPT-HEALTH* </h1>
        <img src="pictures/logo.jpeg" width="100">
        <p>BOOK APPOINTMENT</p>

        <form action="/medication1" method="POST">
        <label for="select department">select department</label>
            <select name="select department" id="department">
                <option value="DENTAL">DENTAL</option>
                <option value="PULMONARY">PULMONARY</option>
                <option value="CARDIOLOGY">CARDIOLOGY</option>
                <option value="OPHTALMOLOGY">OPHTALMOLOGY</option>
                <option value="NEUROLOGY">NEUROLOGY</option>
                <option value="TRAUMATOLOGY">TRAUMATOLOGY</option>
                <option value="PEDIATRIC">PEDIATRIC</option>
                <option value="DIAGNOSTICS">DIAGNOSTICS</option>
            </select>
            <button class="SUBMIT APPOINTMENT" name="SUBMIT APPOINTMENT" type="submit">SUBMIT APPOINTMENT</button>
        </form>
        <div>
           Did you know: COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. 
        </div>
    </div>

</div>