<p class="nancy">NANCY SMITH <img src="pictures/icon.jpeg" width="25"></p>
<p class="logout">LOGOUT</p>
<h1>GIPT-HEALTH* </h1>
<img src="pictures/logo.jpeg" width="100">
<div>
    WHEN IT COMES TO MEDICAL HEALTH SOLUTION WE PROVIDE THE BEST TO OUR CUSTOMERS
</div>
<div>
    <a href="/page">
        <button class="book-appointment" name="BOOK-APPOINMENT"> BOOK APPOINTMENT </button></a>
</div>
<div>
    <a href="/page2">
        <button class="Medication-" name="Book-medication/medication refill">Book medication/medication refill
        </button>
    </a>
</div>
<div>
    <a href="page-three">
        <button class="make-payments" name="MAKE-PAYMENTS">MAKE PAYMENTS</button>
    </a>
</div>






<footer class="">www.</footer>